body{
    background-color: rgb(229, 228, 228);
}

#table {
    
}
thead {
    background-color: dodgerblue;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 7px;

}
tbody{
    font-size: 10px;
    text-align: center;
}
#line1{
    background-color: rgb(229, 228, 228);
}

#line2{
    background-color: white;
}
#line3{
    background-color: rgb(229, 228, 228);
}
#caption {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color:darkblue;
    text-align: center;
    font-size: 15px;

}
